!!! Strict
%html
  %head
    %title= [@title, "ten thousand hours"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #container
      #header
        %h1 ten thousand hours
      #main= yield
      #navigation
        .main
          %p Links
          %ul
            %li= link_to 'Home', url_for(:index)
        .user
          %p User
          %ul
            %li= link_to 'Login', url_for(:users, :login)
            %li= link_to 'Register', url_for(:users, :register)
      #footer
        %p Copyright (c) 2011 HumbleSoftware

