!!! Strict
%html
  %head
    %title= [@title, "ten thousand hours"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application', 'vis'
    = javascript_include_tag '/vis/lib/flotr2.min.js', '/vis/lib/bonzo.min.js', '/vis/lib/vis.min.js', '/vis/js/10000hours', 'jquery', 'vis'
    = yield_content :include
  %body
    #container
      #header
        %h1
          ten thousand hours of
          .title= @project.title
      #main= yield
      #footer
        %p Copyright (c) 2011 HumbleSoftware
